// @Author: schwarze_falke
// @Date:   2018-11-27T00:29:18-06:00
// @Last modified by:   schwarze_falke
// @Last modified time: 2018-11-29T17:55:05-06:00

page-view-note {
    ion-content {
        background: url(../assets/imgs/bg-2.jpg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: .6;
        }
    }

    .note-date{
        font-size: 0.8em;
        color: #888;
        margin-bottom: 12px;
    }
}
