// @Author: schwarze_falke
// @Date:   2018-11-27T00:29:18-06:00
// @Last modified by:   schwarze_falke
// @Last modified time: 2018-11-29T17:54:55-06:00



page-home {
    ion-content {
        background: url(../assets/imgs/bg-1.jpg) no-repeat center fixed;
        background-size: cover;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: .3;
        }
    }

    .date {
        font-weight: bold;
        color: #888;
        padding-right: 24px;
        font-size: 0.8em;
    }
}
